<mat-nav-list>

  <h2 matSubheader class="mt-2">OPTIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/editprofile">
    <mat-icon>edit</mat-icon> Edit Profile </a>

  <a mat-list-item routerLinkActive="raiseticketactive" class="raiseticket" routerLink="/raise-ticket" style="font-size: 24px;">
     Raise Ticket <mat-icon class="icon-spacing" style="font-size: 26px;">whatshot</mat-icon></a>
</mat-nav-list>